{% extends "layout.html" %}

{% block body %}

      <h2>Lisätty kategoria: </h2>
      <br>

    {% for cate in category %}
    <ul>
    <li><h4>{{ cate.aihe }} {{ cate.id }}</h4></li>
    
    </ul>
  
    <form method="POST" action="{{ url_for('category_list_delete', category_id=cate.id)}}">
      <input type="submit" value="poista kategoria" />
            </form>
  <!-- Mieti vielä Tarviiko tätä???
      Entä näyttäsikö tässäkin mihin runoihin kategoria aina liittyy..
   -->
    {% endfor %}






{% endblock %}  

