{% extends "layout.html" %}

{% block body %}

      <h2>Lisätty kategoria: </h2>
      <br>

    {% for cate in category %}
    <ul>
    <li><h4>{{ cate.aihe }}{{ cate.id }}</h4></li>
    
    </ul>
  
    <form method="POST" action="{{ url_for('category_delete', category_id=cate.id)}}">
      <input type="submit" value="poista kategoria" />
            </form>
    <a href= "{{ url_for('category_uppdate', category_id=cate.id)}}"><button>muokkaa kategoriaa</button></a>
  
    {% endfor %}
{% endblock %}  

