{% extends "layout.html" %}

{% block body %}

<img src="https://openclipart.org/download/264056/Cyberscooty-Floral-Border-Extended-16-Isolated.svg" alt="rose" style="width:550px;height:150px;" >


<h1>Runoarkisto</h1>


<p class="lead">Runoarkistosta voit hakea eri tarpeisiin runoja ja aforismejä .<br>Voit myös kartuttaa arkistoa lisäämällä runoja sisäänkirjautuneena.</p>

<br>
<p class="lead" style="color: rgb(144, 141, 141)" ><em>
    "Yksi ihminen ei voi muuttaa koko maailmaa,
    mutta yksi ihminen voi muuttaa yhden ihmisen koko maailman."
</em></p>


{% endblock %}
