<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Runoarkisto</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>
     <!-- Bootstrap navigointipalkki-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">Runoarkisto</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
     <!-- Navigointilinkit-->
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('runot_index') }} ">runot</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('find_index') }} ">etsi</a>
                        </li>
                        {% if current_user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('runot_createform') }} ">lisää runo</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('loggedu_poems') }} ">lisäämäsi runot</a>
                      </li>
                 
                      {% endif %}
                      {% if current_user.role=="ADMIN" %}
                      <li class="nav-item">
                          <a class="nav-link" style="color:rgb(216, 89, 89)" href="{{ url_for('category_index') }} ">kategoriat</a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" style="color:rgb(216, 89, 89)" href="{{ url_for('auth_index') }} ">käyttäjät</a>
                        </li>
                        <!--TODO..... mietinnässä onko tekstitieodstoon tallennus turha/jätänkö pois?
                        <li class="nav-item">
                            <a class="nav-link" style="color:rgb(216, 89, 89)" href="{{ url_for('save_index') }} ">tallenna</a>
                          </li> -->

                        {% endif %}
                    </ul>
                    <div class="form-inline mt-2 mt-md-0">
    <!-- Kirjautumisenhallinta -->                 
                    {% if current_user.is_authenticated %}
                     <p style="color:rgb(119, 118, 118)">
                      Kirjautunut nimellä {{ current_user.name }}, rooli: {{ current_user.role }}  <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
                    </p>
                     {% else %}
                    <a class="nav-link"  href="{{ url_for('users_create') }}">Rekisteröidy</a>
                    <a class="nav-link" href="{{ url_for('auth_login') }}">Kirjaudu </a>
                    {% endif %}
                 
              </div>
            </div>
          </nav>

          <main role="main" class="container">
           
                <!-- 
                Tämä kaikissa näkyvää tekstiä...tarviiko??  kuva? 
                  <h1>Runoarkisto</h1>
                <p class="lead">Runoarkistosta voit hakea eri tarpeisiin runoja ja aforismejä .<br>Voit myös kartuttaa arkistoa lisäämällä runoa muiden iloksi.</p>
             
             -->

      {% block body %}
      <p>
sisältöä
      </p>
      {% endblock %}
   
    </main>
 <!-- Bootstrap scriptejä-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    </body>
  </html>
