{% extends "layout.html" %} {% block body %}


<h4>kirjautuneen käyttäjän lisäämät runot </h4>
<!-- <a href="{{ url_for('loggedu_poems') }}"><h4>kirjautuneen käyttäjän lisäämät runot </h4></a> -->
</br>
{% if loggedUsers_poems is defined %}

<ul>
    {% for runo in loggedUsers_poems %}
    <li>
        <h5>{{runo.id}} {{runo.name}}</h5>
        <p>
            {{runo.sisalto}}
        </p>
        <p>
            {{runo.runoilija}}
        </p>
    </li>
    <table>
        <tr>
            <td>
                <a href="{{ url_for('runot_uppdateForm', runo_id=runo.id)}}">
                    <button>muokkaa runoa</button>
                </a>
            </td>

            <td>
                <a href="{{ url_for('category_other', runo_id=runo.id) }}">
                    <button>lisää runolle kategoria</button>
                </a>
            </td>


            <td>
                <form method="POST" action="{{ url_for('runot_delete', runo_id=runo.id)}}">
                    <input type="submit" value="poista runo" />
                </form>
            </td>
            TODO lisää tähän  vielä kategorian näyttö ja poistonappikin!!!!!!!!!!!!
        </tr>
    </table>
</br>
    {% endfor %}
</ul>
{% endif %} {% endblock %}