{% extends "layout.html" %}

{% block body %}

  
      <a href="{{ url_for('loggedu_poems') }}"><h4>kirjautuneen käyttäjän runot: </h4></a></li>

      {% if loggedUsers_poems is defined %}
       
       <ul>
         {% for runo in loggedUsers_poems %}
         <li>
           {{runo.id}} {{runo.name}}
         </li>
         {% endfor %}
       </ul>
    {% endif %} 

  
  <!-- <a href="{{ url_for('category_create') }}"><h2>montako käyttäjää: </h2></a></li>
 
  
    {% if loggedUsers_poems is defined %}
     <p class="lead">
       Hakemasi runo:
     </p>
     
     <ul>
       {% for runo in loggedUsers_poems %}
       <li>
         {{runo.id}} {{runo.name}}
       </li>
       {% endfor %}
     </ul>
  {% endif %}  -->



    <a href="{{ url_for('users_withPoems') }}"><h4>Runon lisänneet käyttäjät: </h4></a></li>

   {% if how_many is defined %}
    <!-- <p class="lead">
      Ketkä käyttäjät on lisänneet runoja:
    </p> -->
    
    <ul>
      {% for user in how_many %}
      <li>
        {{user.id}} {{user.name}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}



    <a href="{{ url_for('find_runot_by_category') }}"><h4>Runot jotka kuuluvat tiettyyn kategoriaan: </h4></a></li>

   {% if runot_by_category is defined %}
    <!-- <p class="lead">
      Ketkä käyttäjät on lisänneet runoja:
    </p> -->
    
    <ul>
      {% for runo in runot_by_category %}
      <li>
        {{runo.id}} {{runo.name}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

{% endblock %} 
