{% extends "layout.html" %} {% block body %}

<table>
  <!--<tr>
    <th><h1>Runo:</h1></th> 
    </tr> -->
  <tr>
    <td>
      <h3>{{ t.name }}</h3>
    </td>
  </tr>

  <tr>
    <td>
      <i>{{ t.sisalto }}</i>
    </td>
  </tr>

  <tr>
    <td>-{{ t.runoilija }}</td>
  </tr>


  {% if current_user.role=="ADMIN" %}
  <tr>
    <td>
      <a href="{{ url_for('runot_uppdateForm', runo_id=t.id)}}">
        <button>muokkaa runoa</button>
      </a>
    </td>

    <td>
      <a href="{{ url_for('category_other', runo_id=t.id) }}">
        <button>lisää runolle kategoria</button>
      </a>
    </td>

    <td>
      <form method="POST" action="{{ url_for('runot_delete', runo_id=t.id)}}">
        <input type="submit" value="poista runo" />
      </form>
    </td>
  </tr>
  {% endif %}

</table>

<a href="{{ url_for('find_categories', runo_id=t.id) }}">
  <p>runon kategoriat</p>
</a>


{% if category_by is defined %}
<!-- <p class="lead">
  runon kategoriat:
   </p> 
    -->
<ul>
  {% for category in category_by %}
  <li>
    {{category.id}} {{category.aihe}}
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}