{% extends "layout.html" %}

{% block body %}

  <table>
    <tr>
      <th><h1>Runo:</h1></th>
    </tr>
    <tr>
      <td><h3>{{ t.name }}</h3></td>
    </tr>

    <tr>

      <td> <i>{{ t.sisalto }}</i> </td> 
    </tr>
    
    <td></td> 
    <tr>
      <td>-{{ t.runoilija }}</td>
     </tr>  
     <td></td> 

     <tr>
      <td> <a href= "{{ url_for('runot_uppdateForm', runo_id=t.id)}}"><button>muokkaa runoa</button></a> </td> 
  
    </tr>
    <tr>
        <td>
            <form method="POST" action="{{ url_for('runot_delete', runo_id=t.id)}}">
                <input type="submit" value="poista runo" />
            </form>
        </td>
    </tr>




    <!-- {{t.id}}
    <tr>
      <td><li><a href="{{ url_for('runot_showOne', runo_id=t.id) }}">{{ t.name }}</a></li> </td>
      <td>
       <a href= "{{ url_for('runot_uppdateForm', runo_id=t.id)}}"><button>muokkaa</button></a>
       </td>
    </tr> -->
  </table>
{% endblock %}  
