{% extends "layout.html" %} {% block body %}

<h3>{{ runo.name }}</h3>
</br>

<blockquote class="blockquote">
<p class="mb-0"></p><em>{{ runo.sisalto }}</em>
<footer class="blockquote-footer"> {{ runo.runoilija }}</footer>
</blockquote>

<a href="{{ url_for('find_categories', runo_id=runo.id) }}">
  <p>runon kategoriat</p>
</a>


{% if category_by is defined %}

<ul>
  {% for category in category_by %}
  <li style="color:gray;"> 
  {{category.aihe}}
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if current_user.is_authenticated %}
<table>
    <tr>
        <td>
          
<a href="{{  url_for('runot_create_like', runo_id=runo.id) }}">
  <button type="submit" class="btn btn-primary">tykkää runosta</button>
</a>
{% if liked_message is defined %}
{{ liked_message }}
{% endif %}
<!-- TODOOO...kesken hae tähän oikea määräsql lauseella -->
{% if l is defined %}
tykkäykset: {{ l.likes }} 
{% endif %}
</td>
</tr>
</table>

{% endif %}

{% if current_user.role=="ADMIN" %}
<table>
  <tr>
    <td>
      <a href="{{ url_for('runo_modify_page', runo_id=runo.id)}}">
        <button type="submit" class="btn btn-primary">runon muokkaustilaan</button>
      </a>
    </td>

    {% endif %}

</table>
{% endblock %}