{% extends "layout.html" %} {% block body %}

<h3>Tykätyimmät runot (top 10)</h3>
<br>
<!-- <table>
  <tr>
    <th>runo</th>
    <th>tykkäykset</th>
  </tr>
</table> -->

{% if top is defined%}
<ol>
  {% for runo in top %}
  <li>
    <a href="{{ url_for('show_toplist', runo_id=runo.id) }}">
      <h5> {{ runo.name }} {{ runo.total }}</h5>
    </a>
  </li>
  {% endfor %} {% endif %}
</ol>
<br>
<!-- kuva -->
  <img src ="https://openclipart.org/download/205688/ornaments-Art-O-17.svg" alt="rose" style="width:300px;height:300px; position: relative;
  left: 100px; opacity: 0.1; filter: alpha(opacity=50)">

{% endblock %}