{% extends "layout.html" %} {% block body %}
<h3>Lisää runo ja valitse mihin kategorioihin se kuuluu</h3>

<form action="{{ url_for('runot_create') }}" method="POST" role="form">
  {{ form.RunoForm }}
  <div class="form-group row">
    <label for="name" class="col-sm-1 col-form-label">otsikko:</label>
    <div class="col-6">
      <input type="text" class="form-control" id="name" name="name" placeholder="otsikko">
    </div>
  </div>
  <ul>
    {% for error in form.name.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <div class="form-group row">
    <label for="sisalto" class="col-sm-1 col-form-label">sisältö:</label>
    <div class="col-6">
       <textarea class="form-control" rows="6" id="sisalto" name="sisalto" placeholder="sisältö"></textarea>
    </div>
  </div>
  <ul>
    {% for error in form.sisalto.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>

  <div class="form-group row">
    <label for="runoilija" class="col-sm-1 col-form-label">runoilija:</label>
    <div class="col-6">
      <input type="text" class="form-control" id="runoilija" name="runoilija" placeholder="runoilija">
    </div>
  </div>
  <ul>
    {% for error in form.runoilija.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>

      {{ form.aihe.label }}

         {{ form.aihe }}
   
    {% for error in form.aihe.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>

  <button type="submit" class="btn btn-success">Lisää runo</button>
</form>


{% endblock %}