body {
    background: rgb(255, 255, 255);
    } 
    
    
    h1 {   color: rgb(121, 171, 175);
    }
    
    h3 { padding-top:20px;
    }
    
 
    a:link {
        color: rgb(121, 171, 175);
    }
    
    /* visited link */
    a:visited {
        color: rgb(163, 119, 141);
    }
    
    /* mouse over link */
    a:hover {
        color: rgb(141, 140, 140);
    }
    
    /* selected link */
    a:active {
        color: rgb(107, 159, 172);

    }
    
    .btn-danger {
        color: #fff;
        background-color: #b3a5ae;
        border-color: #b3a5ae;
    }

    .btn-primary {
        color: #fff;
        background-color: #7faaad;
        border-color: #7faaad;
    }

    .button.btn.btn-primary {
        color: #fff;
        background-color: #7faaad;
        border-color: #7faaad;
        
    }

    .btn-success {
        color: #fff;
        background-color: #7faaad;
        border-color: #7faaad;
        
    }

.button:hover {
        color: #fff;
        background-color: #adb9b9;
        border-color: #b1b5b6;
    }
    .btn-danger:hover {
        color: #fff;
        background-color: #a97fad;
        border-color: #a97fad;
        
    }
    .btn-success:hover {
        color: #fff;
        background-color: rgb(55, 192, 202);
        border-color:rgb(55, 192, 202);
        
    }
    .btn-primary:hover {
        color: #fff;
        background-color:rgb(55, 192, 202);
        border-color: rgb(55, 192, 2025);
        
    }