body {
    background: rgb(255, 255, 255);

    }
    
    h1 {   color: rgb(121, 171, 175);
    }
    
    h3 { padding-top:10px;
    }
    
 
    a:link {
        color: rgb(121, 171, 175);
    }
    
    /* visited link */
    a:visited {
        color: rgb(163, 119, 141);
    }
    
    /* mouse over link */
    a:hover {
        color: rgb(141, 140, 140);
    }
    
    /* selected link */
    a:active {
        color: rgb(107, 159, 172);

    }
    
td  {padding-left: 10px;

    }
    .btn-danger {
        color: #fff;
        background-color: #b3a5ae;
        border-color: #b3a5ae;
        margin-bottom: 10px;
       
    }

    .btn-primary {
        color: #fff;
        background-color: #7faaad;
        border-color: #7faaad;
        margin-bottom: 10px;
      
    }

    .btn-success {
        color: #fff;
        background-color: #7faaad;
        border-color: #7faaad;
        margin-bottom: 10px;
  
    }

.button:hover {
        color: #fff;
        background-color: #adb9b9;
        border-color: #b1b5b6;
    }
    .btn-danger:hover {
        color: #fff;
        background-color: #957897;
        border-color: #a97fad;
        
    }
    .btn-success:hover {
        color: #fff;
        background-color: rgb(39, 136, 143);
        border-color:rgb(55, 192, 202);
        
    }
    .btn-primary:hover {
        color: #fff;
        background-color:rgb(40, 150, 158);
        border-color: rgb(55, 192, 2025);
        
    }