{% extends "layout.html" %} {% block body %}

<h2>Käyttäjien hallinta: </h2>
<br>

<table>
    <tr>
        <th>nimi</th>
        <th>käyttäjänimi</th>
        <th>salasana</th>
        <th>rooli</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td> {{ user.password }}</td>
        <td>{{ user.role }}</td>

        <td>
            <a href="{{ url_for('auth_uppdateForm', auth_id=user.id)}}">
                    <button type="submit" class="btn btn-primary">muokkaa</button>
                </a>
        </td>
        <td>
            <a href="{{ url_for('auth_delete', auth_id=user.id)}}">
                <button type="submit" class="btn btn-danger">poista</button>

                <!--TODO Nyt käyttäjä voidaan poistaa vain jos hänellä on runoja...????
                tsekataan onko käyttäjällä runoja..jos on.siirretään viite poistettujen käyttäjien runot..user role mutetaan poistetuksi???.... -->
            </a>
        </td>

    </tr>
    {% endfor %}
</table>
</br>
<a href="{{ url_for('users_withPoems') }}">
    <h4>Katso ketkä käyttäjät ovat lisänneet runoja</h4>
</a>
<!--TODOO   aakkosta käyttäjä..........tlisää hakulistaan taulukko mitä runoa kullakin on
käyttäjä id, käyttäjä runojen nimet alalistana -->
</li>

{% if how_many is defined %}

<ul>
    {% for user in how_many %}
    <li>
        {{user.id}} {{user.name}}
    </li>
    {% endfor %}
</ul>
{% endif %}


<p>mitä runoja kullakin käyttäjällä on</p>
<p>kayttajän runojen poisto?? käyttäjänpoisto??tähänkö</p>

<p>????????tilastoja tähän vai toiselle sivulle??????</p>
<!-- TILASTOJA?? u??
    <a href="{{ url_for('runot_index') }}"><h2>montako käyttäjää: </h2></a></li>
    {% if loggedUsers_poems is defined %}
     <p class="lead">
       Hakemasi runo:
     </p>
     
     <ul>
       {% for runo in loggedUsers_poems %}
       <li>
         {{runo.id}} {{runo.name}}
       </li>
       {% endfor %}
     </ul>
  {% endif %}  -->


{% endblock %}