{% extends "layout.html" %} {% block body %}

<h2>Käyttäjien hallinta: </h2>
<br>

<table>
    <tr>
        <th>nimi</th>
        <th>käyttäjänimi</th>
        <th>salasana</th>
        <th>rooli</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td> {{ user.password }}</td>
        <td>{{ user.role }}</td>

        <td>
            <a href="{{ url_for('auth_uppdateForm', auth_id=user.id)}}">
                <button type="submit" class="btn btn-success">muokkaa</button>
            </a>
        </td>
        <td>
            <a href="{{ url_for('auth_delete', auth_id=user.id)}}">
                <button type="submit" class="btn btn-danger">poista</button>

            </a>
        </td>

    </tr>
    {% endfor %}
</table>

</br>


<a href="{{ url_for('users_withPoems') }}">
    <h5>Katso ketkä käyttäjät ovat lisänneet runoja</h5>
</a>

{% if how_many is defined %}

<ul>
    {% for user in how_many %}
    <!-- <form method="GET" action="{{ url_for('users_poems', user_id=user.id) }}">
            <button type="submit" class="btn btn-primary">näytä käyttäjän runot</button>
          </form> -->
    <li>
        <a href="{{ url_for('users_poems', user_id=user.id) }}">
            <h6>{{user.id}} {{user.username}}</h6>
        </a>
    </li>
    {% endfor %} 

    {% if runot_by is defined %} 
    <h5>Klikkaamasi käyttäjän runot</h5>
    {% for runo in runot_by %}
    <li>{{runo.name}} </li>
    {% endfor %} {% endif %}
</ul>

{% endif %} {% endblock %}