{% extends "layout.html" %} {% block body %}
<h2>Muokkaa käyttäjää</h2>

<br>

<form action="{{  url_for('auth_uppdate', auth_id=user.id) }}" method="POST" role="form">

    {{ form.UserForm }}
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">nimi:</label>
        <div class="col-4">
            <input type="text" class="form-control" id="name" name="name" value= {{ user.name }}>
        </div>
    </div>
    <ul>
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">käyttäjänimi:</label>
        <div class="col-4">
            <input type="text" class="form-control" id="username" name="username" value= {{ user.username }}>
        </div>
    </div>
    <ul>
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %} {{ same_error }}
    </ul>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">salasana:</label>
        <div class="col-4">
            <input type="text" class="form-control" id="password" name="password"value= {{ user.password }}>
        </div>
    </div>
    <ul>
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    <div class="form-group row">
        <label for="role" class="col-sm-2 col-form-label">rooli:</label>
        <div class="col-4">
            <input type="text" class="form-control" id="role" name="role" value= {{ user.role }}>
        </div>
    </div>
    <ul>
        {% for error in form.role.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>


    <button type="submit" class="btn btn-success">muokkaa</button>

</form>

{% endblock %}