{% extends "layout.html" %} {% block body %}

<h3>Rekisteröidy käyttäjäksi</h3>
</br>
<form action="{{ url_for('users_create') }}" method="POST" role="form">
  {{ form.UserForm }}
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">nimi:</label>
    <div class="col-4">
      <input type="text" class="form-control" id="name" name="name" placeholder="nimi">
    </div>
  </div>
  <ul>
    {% for error in form.name.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">käyttäjänimi:</label>
    <div class="col-4">
      <input type="text" class="form-control" id="username" name="username" placeholder="käyttäjänimi">
    </div>
  </div>
  <ul>
    {% for error in form.username.errors %}
    <li>{{ error }}</li>
    {% endfor %}
    {{ same_error }}
  </ul>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">salasana:</label>
    <div class="col-4">
      <input type="password" class="form-control" id="password" name="password" placeholder="salasana">
    </div>
  </div>
  <ul>
    {% for error in form.password.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <button type="submit" class="btn btn-success">Rekisteröidy</button>
</form>


{% endblock %}